.input-container {
  height: 40px;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
}

.input-container input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  height: 100%;
  width: 100%;
  color: #fafafa;
  box-sizing: border-box;
  padding: 0 32px 0 16px;
}

.input-container button {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
}


